* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

:root {
    --navbar_backgroud_color: #1b1b1b;
    --blue_plus: #2bbfc9;
    --normal_text_size: 0.875rem;
    --black_plus: #1b1b1b;
    --grey_plus: #F5F5F5;
    --graphite_plus: #586069;
}


.content_container {
    width: 90%;
    /* background-color: red; */
    max-width: 1500px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: var(--navbar_backgroud_color);
    padding: 1.0rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 50rem;
}

nav ul li {
    padding: 1.25rem 1.56rem;
}

.normal_text_size {
    font-size: var(--normal_text_size);
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    color: white;
    font-weight: 400;
}

#logo_plus_sign {
    color: var(--blue_plus)
}

.logo_size {
    font-size: 1.6rem;
}

.small_button {
    padding: 0.75rem 2.5rem;
    border-radius: 5px;
}

.blue_button {
    background-color: var(--blue_plus);
}

h1 {
    font-size: 2rem;
}

#hero_section {
    display: flex;
    justify-content: space-around;
}

img {
    height: auto;
}

#sharing_code_image {
    max-width: 100%;
    width: 25rem;
}

.hero_section_left_side {
    max-width: 32rem;
}

.hero_section_margin {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.hero_section_title {
    margin-bottom: 0.93rem;
}

.signin_block {
    margin-top: 0.93rem;
}

.signin_block a:nth-child(2) {
    margin-left: 0.625rem
}

.button {
    border-radius: 5px;
    display: inline-block;
}
.large_button {
    padding: 0.625rem;
}

.black_button {
    background-color: var(--black_plus); 
}

.grey_button {
    background-color: var(--grey_plus);
}

.graphite_text {
    color: var(--graphite_plus);
}

.signin_image {
    margin: auto;
    vertical-align: middle; 
    display: inline-block;
    margin-right: 0.312rem;
}